img {
    width: 100%;
    height: auto;
}

#high-level-ldt,
#ldt-add-new-slc,
#ldt-discovery,
#focus-on-data-exchange-types,
#connect-ldts-via-ds-1,
#connect-ldts-via-ds-2
{
    width: 70%;
}

#blueprints {
    width: 35%;
}

figcaption {
    font-style: normal;
    text-align: left;
    margin-left: 50px;
}

h5 {
    font-style: normal;
}

figcaption:not(.no-marker)::before {
    content: "Figure " counter(figure) ". " !important;
}
