img {
    width: 100%;
    height: auto;
}

#workflow-1 {
    width: 90%;
}

#high-level-ldt,
#ldt-add-new-slc,
#ldt-discovery,
#focus-on-data-exchange-types,
#connect-ldts-via-ds-1,
#connect-ldts-via-ds-2 {
    width: 70%;
}

#workflow-2 {
    width: 50%;
}

#blueprints {
    width: 35%;
}

figcaption {
    font-style: normal;
    text-align: left;
    margin-left: 50px;
}

h5 {
    font-style: normal;
}

figcaption:not(.no-marker)::before {
    content: "Figure " counter(figure) ". " !important;
}

figure.table figcaption:not(.no-marker)::before {
    content: "Table " counter(table) ". " !important;
}

table {
    margin-bottom: 10px !important;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #1E75D6;
    color: white;
    border-color: black;
}
